body{
    margin:0;
    
}

.top-nav{
    background-color: darkgray;
    width:1720px;
    height:110px;
    background-attachment: fixed;
}

.navigation-bar{

   margin-top:40px;
   position:absolute;
   left:550px;
   
}

.navigation-bar a{
    text-decoration: none;
    padding:30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.second-part{
    margin-left: 100px;
    margin-top: 100px;
    width:50%;
}

.lineDec1{
    font-size:70px;
    height:20px;
}
.lineDec2{
    font-size: 70px;
    color:tomato;
    height:35px;
}
